body {
  --bs-body-color: #333;
  --accent-color: #b8a07e;
}

.border-accent {
  border-color: var(--accent-color) !important;
}

.su-di-me-image-wrapper.border-5 {
  border-width: 10px !important;
}

.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-image: url('/hero.jpeg');
  background-size: cover;
  background-position: center;
}

.hero-section h1 {
  font-weight: 700;
}

.dott-prefix {
  font-size: 0.9em;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-section h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.hero-content {
  position: relative;
  z-index: 1;
}

.social-icons a {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #adb5bd;
}

/* Styles for showing/hiding the navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  transition: transform 0.3s ease-in-out;
}

.navbar-nav .nav-link {
  margin-inline: .75rem;
  font-weight: 700;
  padding: 0.5rem;
  color: rgb(126, 125, 125);
}

.nav-link.active {
  color: var(--accent-color) !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler.collapsed,
.navbar-toggler-icon {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.swiper-pagination {
  margin-top: 10px;
}

.swiper-slide {
  padding-bottom: 2.5rem;
}

.swiper-slide h3 {
  font-size: 1.25rem;
}

.swiper-pagination-bullets {
  bottom: 0px !important;
}

.address-container {
  display: flex;
  align-items: flex-start;
}

.address-label {
  font-weight: bold;
}

#prenota .btn-primary {
  background-color: #333 !important;
  border-color: #333 !important;
  text-transform: uppercase;
  font-size: 0.8rem !important;
  border-radius: 0;
}

.su-di-me-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 600 / 800;
  margin: 0 auto;
}

.image-column {
  text-align: center;
}

@media (max-width: 768px) {
  .hero-section {
    height: auto;
    padding: 100px 0;
  }
  .hero-section h2 {
    font-size: 1.5rem;
  }
}

/* Custom Accordion Styling */
.accordion-item {
  background-color: white;
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid var(--bs-accordion-border-color);
}
.accordion-item:first-of-type {
  border-top: none;
}
.accordion-header {
  background-color: white;
  border-bottom: none;
}
.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed) {
  background-color: white !important;
  box-shadow: none !important;
  border: none;
}
.accordion-button:not(.collapsed) {
  color: var(--accent-color);
}

/* Custom Modal Styling */
.modal-body {
  padding: 1.5rem !important;
}
