.hero-section {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-image: url('https://via.placeholder.com/1920x1080/6c757d/343a40?text=VitoApp+Placeholder');
  background-size: cover;
  background-position: center;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
}

.hero-content {
  position: relative; /* Ensure content is above the overlay */
  z-index: 1;
}

.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: white;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #adb5bd; /* A light grey color for hover */
}

/* Styles for showing/hiding the navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; /* Ensure navbar is above other content */
  transition: transform 0.3s ease-in-out; /* Transition for transform */
}

.navbar-nav .nav-link {
  margin-inline: .7rem; /* Increased spacing */
  font-weight: 600; /* Heavier font */
  padding: 8px;
  color: rgb(126, 125, 125); /* New font color */
}

.section-header {
  font-size: 2rem; /* Smaller font size */
  text-transform: uppercase;
  font-weight: 700;
}

.nav-link.active {
  color: #b8a07e !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler.collapsed {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.navbar-toggler-icon {
    outline: none !important;
    border: none !important;
}

.swiper-pagination {
  margin-top: 10px; /* Adjust as needed */
}

.swiper-slide {
  padding-bottom: 40px; /* Space for pagination */
}

.swiper-pagination-bullets {
  bottom: 0px !important; /* Position pagination at the bottom */
}

#prenota .btn-primary {
  background-color: #333 !important;
  border-color: #333 !important;
  text-transform: uppercase;
  font-size: 0.8rem !important;
  border-radius: 0;
}

@media (max-width: 768px) {
  .hero-section {
    height: auto;
    padding: 100px 0;
  }
}